/* Layout of the page (to separate it from the actual color, font, etc)
   I'm aiming at a three-column view, with navigation + contact on the left,
   a sidebar on the right and the content in the middle.
   
   The entire page is titled with a header and has a footer showing the W3C
   valid symbols.
*/


/* Force the page to take up all available space */
html, body {
    height: 97%;
}

#container {
    min-height: 100%;
    margin-bottom: -80px;
}

#footer {
    clear: both;
    height: 50px;
    position: relative;
}

#leftbar {
    position: relative;
    float: left;
    width: 15%;
}


#central_content {    
    position: relative;
    float: left;
    width: 60%;
}

#rightbar {
    position: relative;
    float: right;
    width: 25%;
}

#page_header {
    text-align: right;
}

#page_info {
    float: left;   
}

#w3c {
    float:right;
    text-align: right;
}

#page_header {
    margin-bottom: 30px;    
}

/*safari wrapper */
html > body #minHeight{
    float:left;
    width:0px;
    height:100%;
    margin-bottom:-52px;
} 