#leftbar {
    font-size: 75%;
}

#navigation {
    top: 50%;
    margin-bottom: 40px;
}

#central_content {
    text-align: left;
}

#footer {
    font-size: 75%;
    color: rgb(150, 150, 150);   
}

.news  {
    list-style-type: none;
}

.content_header {
    text-align: center;   
}

.right_header {
    text-align: right;
}

.header {
    color: #BE311B;
}

h2 {
    color: #BE311B;
}


.date {
    font-style: italic;
    color: rgb(150, 150, 150);
}

.it {
  font-style: italic;   
}


.gr_grid_container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
 
}
.gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 39px;
    height: 60px;
    padding: 0px 0px;
    overflow: hidden;
}

.gr_custom_container_1288094328 {
  /* customize your Goodreads widget container here*/
  /*border: 1px solid gray;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;*/
  padding: 10px 5px 10px 5px;
  background-color: #FFFFFF;          
  
}
.gr_custom_header_1288095128 {
  /* customize your Goodreads header here*/
  color: #BE311B;
  width: 100%;
  margin-bottom: 5px;
  text-align: right;
}
.gr_custom_header_1288095128 a {
    color: #BE311B;
}

.gr_custom_each_container_1288095128 {
  /* customize each individual book container here */
  width: 100%;
  clear: both;
  margin-bottom: 10px;
  overflow: auto;
  padding-bottom: 4px;
  border-bottom: 1px solid #aaa;
}
.gr_custom_book_container_1288095128 {
  /* customize your book covers here */
  width: 98px;
  height: 160px;
  overflow: hidden;
  margin-right: 4px;
}

.gr_custom_author_1288095128 {
  /* customize your author names here */
  font-size: 10px;
}

.gr_custom_tags_1288095128 {
  /* customize your tags here */
  font-size: 10px;
  color: gray;
}

.gr_custom_rating_1288095128 {
  /* custoimize your rating stars here */
  float: right;
}

.caption {
  font-family:arial,sans-serif; 
  font-size:11px; 
  text-align:right
}


dt {
  float: left;
  clear: left;
  font-weight: bold;
  color: #BE311B;
  width: 50px;
}

dt:after {
  content : ":";
}

dd {
  margin-left: 60px;
  padding-bottom: .5em;
